Vagrant.configure("2") do |config|
    config.vm.box = "generic/centos8"
    #MAIL SERVER
    config.vm.define "{{ VmName }}" do |{{ VmName }}|
      mail.vm.hostname = "{{ Fqdn }}"
      mail.vm.box_check_update = false
      mail.vm.network "public_network", bridge: "{{ WInterface }}", ip:"{{ Ip }}"
      mail.vm.provision "file", source: "files/id_rsa.pub", destination: "/home/vagrant/.ssh/authorized_keys"
      mail.vm.provision "shell", path: "provisioners/packages.sh"
    end
end